################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GP/CopilotIndices/17.14.878.3237
/.vs/GP/FileContentIndex
/.vs/GP/v17
